@import url('https://fonts.googleapis.com/css?family=Srisakdi');
body{
    background-color: #85DCB8;
}
header h1 {
    font-family: 'Srisakdi', cursive;
    text-decoration: underline;
    color: #e8a87c;
    
}

main{
    border: 5px;
    border-style: solid;
    background-color:#e8a87c;
}

h2{
    text-decoration: underline;
}

.navigation{
    background-color: #c38d9e;
    border: 5px;
    border-style: solid;
}

.links{
    background-color: #41b3a3;
    border: 5px;
    border-style: solid;
}


footer{
    background-color:#e8a87c;
    border: 5px;
    border-style: solid;
}